@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet');

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.title{
  font-family: 'Anton', sans-serif;
}

.topmenu{
  z-index: 3;
  position: fixed;
  width: 110%;
  height: 150px;
  margin: -10px;
  padding-top: 10px;
  background-color: #FF9700;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.topmenu a :hover{
  text-shadow: 1px 1px 2px black;
}

.topmenu ul{
  list-style: none;

}

.topmenu li{
  float: left;
}

.topmenu a {
  margin-top: 10px;
  text-decoration: none;
  display: block;
  padding: 10px;
  font-size: 25px;
  padding-left: 70px;
  padding-top: 15px;
  color: black;
  font-size: 30px;
  padding-left: 60px;
}

body{
  background-color: #807565;
  font-family: 'Roboto', sans-serif;
}


.img_1_1{
  position: relative;
  z-index: 1;
  padding-top: 100px;
  margin-left: 100px;
  filter: blur(1px);
  width: 28%;
  transform: scaleX(1);
}

.img_1_2{
  position: relative;
  z-index: 1;
  padding-top: 100px;
  margin-left: -27.5vw;
  filter: blur(1px);
  width: 28%;
  transform: scaleX(-1);
}

.img_2{
  position: relative;
  z-index: 1;
  margin-top: 50px;
  margin-left: 450px;
  filter: blur(2px);
  width: 25%;
  transform: rotate(25deg);
}

.img_3{
  position: relative;
  z-index: 1;
  margin-left: 850px;
  filter: blur(2px);
  width: 35%;
  transform: scaleX(-1);
}

.img_4{
  position: relative;
  z-index: 1;
  margin-top: -100px;
  margin-left: 100px;
  filter: blur(2px);
  width: 30%;
  transform: scaleX(-1) rotate(-65deg);
}

.img_parallax{
  padding-top: 300px
}

.text_1{
  z-index: 2;
  position: absolute;
  top: 300px;
  float: left;
  width: 50%;
  font-size: 30px;
  margin-left: 40%;
  padding-bottom: 300px;
  color: #FF9700;
  text-shadow: 1px 1px 2px black;
}

.text_2{
  z-index: 2;
  position: absolute;
  top: 200vh;
  width: 50%;
  font-size: 30px;
  margin-left: 8%;
  padding-bottom: 300px;
  color: #FF9700;
  text-shadow: 1px 1px 2px black;
}

.price_list{
  padding-left: 20vw;

}

.price_title{
  text-align: center;
}

.price{
  z-index: 2;
  margin-top: 300px;
  background: rgba(18, 14, 33, 1);
  transform: skewY(-6deg);
  width: 40vw;
  padding: 100px;
  box-shadow: 0 0 40px rgba(0,0,0,0.6);
}

.price ul {
  transform: skewY(6deg);
  color: white;
  font-size: 20px;
}

.price li {
  display: flex;
}

.price a {
  text-decoration: none;
  display: block;
  font-size: 20px;
  padding-left: 70px;
  color: white;
}

.gallery{
  margin-top: -200px;
  margin-bottom: -150px;
  margin-left: 36.5vw;
  width: 350px;
  height: 108vw;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-96deg);
}

.gallery img{
  padding-top: 200px;
  margin-bottom: -70px;
  width: 550px;
  height: 420px;
  transform: rotate(96deg);
}

::-webkit-scrollbar {
    width: 0px;
}

.contact{
  margin-top: 200px;
  font-size: 20px;
  color: white;
  text-align: center;
  height: 200px;
  padding-bottom: 300px;
  padding-top: 100px;
  margin-left: -2.5vw;
  width: 105vw;
  background: linear-gradient(#807565 10%, #120E21);
}
